<!DOCTYPE html>
<html lang="en-ES">
<head>
    <meta charset="UTF-8">
    <title>Heart Animation</title>
    <link rel="stylesheet" type="text/css" href="../css/coras.css">
</head>
<body>
    <div class="text">Cada corazon representa lo mucho que me encantas y darte este pedazo de pagina es una muestra de lo mucho que adoro a esa hermosa persona que eres Allison, Te Amo Mucho Mucho </div>
    <div class="container">
        <div class="col">
            <div class="heart heart1">
                <div class="circle"></div>
                <div class="halfMoon"></div>
            </div>	
        </div>
			</div>
			<div class="col">
				<div class="heart heart2">
					<div class="circle"></div>
					<div class="halfMoon"></div>
				</div>	
			</div>
			<div class="col">
				<div class="heart heart3">
					<div class="circle"></div>
					<div class="halfMoon"></div>
				</div>	
			</div>
			<div class="col">
				<div class="heart heart4">
					<div class="circle"></div>
					<div class="halfMoon"></div>
				</div>	
			</div>
			<div class="col">
				<div class="heart heart5">
					<div class="circle"></div>
					<div class="halfMoon"></div>
				</div>	
			</div>
		<!--script src="codigo.js"></script-->
  </body>
</html>